<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="flex justify-content-end flex-wrap gap-3 mb-2 ">
        <p-button icon="pi pi-times" label="Limpar Carrinho" styleClass="p-button-rounded p-button-danger p-button-text"
          (click)="clear()"></p-button>
      </div>
      <p-table [value]="cartItems" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Desconto</th>
            <th>Valor unitário</th>
            <th>Valor Total</th>
            <th>Valor total com desconto</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index=i>
          <tr>
            <td>{{item.title}}</td>
            <td>
              <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success " incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus" [(ngModel)]="item.quantity"
                (click)="updateItem(item)"></p-inputNumber>
            </td>
            <td>
              <p-inputNumber styleClass="width: 4rem" [(ngModel)]="item.discount" (onBlur)="updateItem(item)"
                inputId="percent" prefix="%" value="0">
              </p-inputNumber>
            </td>
            <td>{{item.price | currency}}</td>
            <td>{{(item.price * item.quantity) | currency}}</td>
            <td>{{(item.totalWithDiscount) | currency}}</td>
            <td>
              <div class="flex justify-content-end flex-wrap gap-3 mb-4">
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"
                  (click)="remove(item)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="p-col-12" *ngIf="cartItems.length === 0">
    <div class="">
      <br>
      <p class="text-center text-2xl text-red-700"><em>Seu carrinho está vazio</em></p>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="card w-screen">
    <div class="flex justify-content-between align-items-center flex-wrap card-container">
      <div class="flex-initial align-items-end flex  m-1 px-5 py-3 ">
        <div class="gap-3 pr-8" style=" display: flex; flex-direction: column;">
          <span class="text-center text-xl ">Forma de Pagamento</span>
          <p-dropdown placeholder="Selecione" [options]="formPaymentOptions" [(ngModel)]="selectedPayment"
            optionLabel="label" optionValue="value" (onChange)="onFormPaymentSelected($event.value)" [required]="true"
            severity="error">
          </p-dropdown>
        </div>
        <div class="gap-3" style=" display: flex; flex-direction: column;">
          <span class="text-xl ">Desconto</span>
          <p-inputNumber [(ngModel)]="generalDiscount" (onBlur)="updateGeneralDiscount(generalDiscount)"
            placeholder=" Discount" styleClass="width: 4rem " inputId="percent" prefix="%" value="0">
          </p-inputNumber>
        </div>
      </div>
      <div class="flex m-2">
        <div class="flex justify-content-end h-6rem column-gap-4 m-2 px-5 py-3">
          <p-messages severity="success">
            <ng-template pTemplate>
              Subtotal: {{ subtotal | currency }}
            </ng-template>
          </p-messages>
          <p-messages severity="success">
            <ng-template pTemplate>
              Valor Total: {{ grandTotal | currency }}
            </ng-template>
          </p-messages>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="flex-initial flex align-items-center justify-content-center m-2 px-5 py-3">
        <p-button pButton pRipple class="" [swal]="{
          title: 'atenção',
          background: '#737373',
          width: 300,
          color:'#fff',
          text: 'Deseja Finalizar a Venda ?',
          showDenyButton: true,
          denyButtonText: 'Não',
          confirmButtonText: 'Sim',
          icon: 'warning'
      }" (confirm)="submitOrder()">Finalizar Venda</p-button>
      </div>
    </div>
  </div>